.layout {
    width: 100%;
    display: grid;
    grid:
      "header header header" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / auto 1fr auto;
    gap: 8px;
  }
  
  .header {
    grid-area: header;
    background: #ff0000;  /* sample styling */
  }
  
  .leftSide {
    grid-area: leftSide;
    background: #ff0000;  /* sample styling */
  }
  
  .body {
    grid-area: body;
  }
  
  .rightSide {
    grid-area: rightSide;
    background: #ff0000;  /* sample styling */
  }
  
  .footer {
    grid-area: footer;
    background: #ff0000;  /* sample styling */
  }
  