.layout {
    width: 100%;
    display: grid;
    grid:
      "header header header" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / 2fr 4fr 2fr; /* Adjusted column widths */
    gap: 0px;
}
  
  .header {
    grid-area: header;
    background: #ffffff;  /* sample styling */
  }
  
  .leftSide {
    grid-area: leftSide;
    background: #ffffff;  /* sample styling */
  }
  
  .body {
    grid-area: body;
  }
  
  .rightSide {
    grid-area: rightSide;
    background: #ffffff;  /* sample styling */
  }
  
  .footer {
    grid-area: footer;
    background: #ffffff;  /* sample styling */
  }
  