html {
  scroll-behavior: smooth;
}

.layout {
    width: 100%;
    display: grid;
    grid:
      "header body rightSide" auto
      "leftSide body rightSide" 1fr
      "footer footer footer" auto
      / 0.5fr 4fr 1fr;
    gap: 0px;
}

.header {
    text-align: center;
    padding: 15px;
    background: #f8f9fa;
    border-right: 2px solid #ddd;
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header p {
    margin: 5px 0 0;
    font-size: 1.2em;
    font-weight: normal;
    color: #666;
}

.leftSide {
    grid-area: leftSide;
    background: #f8f9fa;
    padding: 6px;
    border-right: 2px solid #ddd;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.leftSide ul {
    list-style-type: none;
    padding: 0;
}

.leftSide li {
    margin: 5px 0;
}

.leftSide a {
    text-decoration: none;
    color: #007bff;
}

.leftSide a:hover {
    text-decoration: underline;
}

.body {
    grid-area: body;
    padding: 20px;
    width: 100%;
}

.rightSide {
    grid-area: rightSide;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-image {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
}

.footer {
    grid-area: footer;
    background: #ffffff;
}

@media (max-width: 768px) {
  .rightSide, .leftSide {
      display: none;
  }

  .mobile-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background: #f8f9fa;
      border-bottom: 2px solid #ddd;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
  }

  .menu-icon {
      font-size: 2em;
      cursor: pointer;
  }

  .dropdown-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background: white;
      border-bottom: 2px solid #ddd;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .dropdown-menu li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: center;
  }

  .dropdown-menu a {
      text-decoration: none;
      color: #007bff;
      font-size: 1.2em;
  }

  .dropdown-menu a:hover {
      background: #f1f1f1;
      display: block;
  }

  .dropdown-menu.active {
      display: block;
  }
}